{% extends 'base.html' %}
{% load static %}

{% block content  %}

    <!-- Topic subject -->
    <section id="mu-page-breadcrumb">
        <div class="container">
        <div class="row">
            <div class="col-md-12">
            <div class="mu-page-breadcrumb-area">
                <h2>Сабақтар</h2>
                <ol class="breadcrumb">
                            
                <li class="active">Онлайн курстар</li>
            </ol>
            </div>
            </div>
        </div>
        </div>
    </section>

    <section id="mu-course-content">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="mu-course-content-area">
                 <div class="row">
                   <div class="col-md-9">
                     <!-- start course content container -->
                     <div class="mu-course-container">
                       <div class="row">
                        {% for course in courses %} 
                        <div class="col-md-6 col-sm-6">
                         <div class="mu-latest-course-single">
                           <figure class="mu-latest-course-img">
                             <a href="#"><img src="{{ course.course_image.url }}" alt="img"></a>
                             <figcaption class="mu-latest-course-imgcaption">
                               <a href="#">{{ course.course_title }}</a>
                             </figcaption>
                           </figure>
                           <div class="mu-latest-course-single-content">
                             <h4><a href="#">Lorem ipsum dolor sit amet.</a></h4>
                             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quod nisi quisquam modi dolore, dicta obcaecati architecto quidem ullam quia.</p>
                             <div class="mu-latest-course-single-contbottom">
                               <a class="mu-course-details" href="#">Толығырақ</a>
                               <!--span class="mu-course-price" href="#">$165.00</span-->
                             </div>
                           </div>
                         </div> 
                       </div>                  
                       {% endfor %}
                                         
                       </div>
                     </div>
                     <!-- end course content container -->
                     <!-- start course pagination -->
                     <div class="mu-pagination">
                       <nav>
                         <ul class="pagination">
                           <li>
                             <a href="#" aria-label="Previous">
                               <span class="fa fa-angle-left"></span> Prev 
                             </a>
                           </li>
                           <li class="active"><a href="#">1</a></li>
                           <li><a href="#">2</a></li>
                           <li><a href="#">3</a></li>
                           <li><a href="#">4</a></li>
                           <li><a href="#">5</a></li>
                           <li>
                             <a href="#" aria-label="Next">
                              Next <span class="fa fa-angle-right"></span>
                             </a>
                           </li>
                         </ul>
                       </nav>
                     </div>
                     <!-- end course pagination -->
                   </div>
                   <div class="col-md-3">
                     <!-- start sidebar -->
                     <aside class="mu-sidebar">
                       <!-- start single sidebar -->
                       <div class="mu-single-sidebar">
                         <h3>Ақылы курстар</h3>
                         <ul class="mu-sidebar-catg">
                           <li><a href="#">Web Design</a></li>
                           
                           <li><a href="">Математика</a></li>
                           <li><a href="">Физика</a></li>
                           <li><a href="">Химия</a></li>
                           <li><a href="">Ағылшын</a></li>
                         </ul>
                       </div>
                       <!-- end single sidebar -->
                       <!-- start single sidebar -->
                       <div class="mu-single-sidebar">
                         <h3>Қызықты курстар</h3>
                         <div class="mu-sidebar-popular-courses">
                           <div class="media">
                             <div class="media-left">
                               <a href="#">
                                 <img class="media-object" src="assets/img/courses/1.jpg" alt="img">
                               </a>
                             </div>
                             <div class="media-body">
                               <h4 class="media-heading"><a href="#">Ғылыми медицина</a></h4>                      
                               <!--span class="popular-course-price">$200.00</span-->
                             </div>
                           </div>
                           <div class="media">
                             <div class="media-left">
                               <a href="#">
                                 <img class="media-object" src="assets/img/courses/2.jpg" alt="img">
                               </a>
                             </div>
                             <div class="media-body">
                               <h4 class="media-heading"><a href="#">Web дизайн</a></h4>                      
                               
                             </div>
                           </div>
                           <div class="media">
                             <div class="media-left">
                               <a href="#">
                                 <img class="media-object" src="assets/img/courses/3.jpg" alt="img">
                               </a>
                             </div>
                             <div class="media-body">
                               <h4 class="media-heading"><a href="#">Спорт және денсаулық</a></h4>                      
                               
                             </div>
                           </div>
                         </div>
                       </div>
                       <!-- end single sidebar -->
                       <!-- start single sidebar -->
                       <div class="mu-single-sidebar">
                         <h3>Архивтер</h3>
                         <ul class="mu-sidebar-catg mu-sidebar-archives">
                           <li><a href="#">May <span>(25)</span></a></li>
                           <li><a href="">June <span>(35)</span></a></li>
                           <li><a href="">July <span>(20)</span></a></li>
                           <li><a href="">August <span>(125)</span></a></li>
                           <li><a href="">September <span>(45)</span></a></li>
                           <li><a href="">October <span>(85)</span></a></li>
                         </ul>
                       </div>
                       <!-- end single sidebar -->
                       <!-- start single sidebar -->
                       <!--div class="mu-single-sidebar">
                         <h3>Tags Cloud</h3>
                         <div class="tag-cloud">
                           <a href="#">Health</a>
                           <a href="#">Science</a>
                           <a href="#">Sports</a>
                           <a href="#">Mathematics</a>
                           <a href="#">Web Design</a>
                           <a href="#">Admission</a>
                           <a href="#">History</a>
                           <a href="#">Environment</a>
                         </div>
                       </div-->
                       <!-- end single sidebar -->
                     </aside>
                     <!-- / end sidebar -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <div class="container">
        <div class = "row">
        {% for course in courses %}
        <div class="col-md-4">
            <div class="card mb-2">
                <img class="card-img-top" src="{{ course.course_image.url }}">
                <div class="card-body">
                    <h5 class="card-title">{{ course.course_title }}</h5>
                    
                    <a href="{% url 'news_special' course.pk %}"
                        class="btn btn-primary">
                        Толығырақ
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}